* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: white;
  background-color: blue;
  text-align: center;
}
.nav-link li {
  display: inline;
}
.nav-link {
  text-align: center;
}
hr {
  margin: 20px 200px 0 200px;
  height: 6px;
  background-color: brown;
}
.about-content {
  text-align: right;
}
h2 {
  text-align: center;
  color: brown;
}
.list1 li {
  margin-left: 50px;
  color: blue;
  list-style-type: circle;
}
.img-coffee img {
  width: 300px;
  height: 300px;
}
.list2 li {
  list-style-type: upper-roman;
  margin-left: 50px;
}
table {
  border: 1px solid black;
  width: 600px;
  margin: 0 auto;
}
tr .td1 {
  background-image: url(./img/chilling-cafe-13.jpg);
  color: white;
}
tr .td2 {
  background-image: url(./img/chilling-cafe-12.jpg);
  color: white;
}
.rp1 {
  height: 80px;
  
}
.rp2 {
    height: 50px;
    
  }
