* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    color: #8d8d8d;
    background-color: #faf4f2;
}
.header{
    background-color: #f8e1db;
    padding: 10px 70px;
}
.header ul{
    list-style: none;
    margin-top: 10px;
}
.header ul a{
    text-decoration: none;
    color: #3b3735;
    font-size: 20px;
}
.header li{
    display: inline;
    margin-right: 40px;
}
.header .active a{
    
    color: #e76f51;
}
.carousel{
    background-image: url(../Img/BG.png);
    height: 600px;
    background-position: center;
    background-size: cover;
}
.activities{
    border-radius: 25px;
    padding: 13px 71px;
    margin-bottom: 20px;
    background-color: transparent;
    margin-top: 200px;
    text-align: center;
}
.title{
    color: #8d8d8d;
    font-size: 24px;
}
.item{
    width: 25%;
    float: left;
    padding: 15px;
}
.card{
    padding: 40px;
    background-color: white;
    border-radius: 20px;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.clear{
    clear: both;
}
.img{
    position: relative;
}
.heart{
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 20px;
    right: 20px;
    color: #e76f51;
    z-index: 10;
    cursor: pointer;
    font-weight: bold;
}
.heart img{
    width: 80%;
}
.detail h2{
    color: #3b3735;
    font-size: 18px;
    line-height: 28px;
    margin-top: 11px;
}
.detail p{
    line-height: 28px;
    margin-top: 11px;
    margin-bottom: 25px;
}
.detail button{
    padding: 13px 54px;
    border-radius: 25px;
    color: #8d8d8d;
    border: transparent;
    background-color: rgba(141, 141, 141, 0.2);
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}
.detail button:hover{
    background-color: #e76f51;
    color: white;
}
.contact{
    background-color: #f8e1db;
    border-radius: 20px;
    margin-bottom: 100px;
}
.left, .right{
    float: left;
    width: 50%;
    padding: 20px 60px;
}
.left{
    background: url(../Img/mask.png);
    background-size: cover;
    background-position: center;
}
.right{
    padding-top: 70px;
}
.right p{
    margin: 12px 0 30px;
}
right h3{
    margin-bottom: 21px;
}
.app, .contact_us{
    float: left;
    width: 50%;
}
.contact_us i{
    color: #e76f51;
    font-size: 25px;
    margin-right: 10px;
}
.footer{
    background-color: #f8e1db;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px;
    color: #3b3735;
}
.footer h3{
    font-size: 18px;
    margin-bottom: 21px;
}
.ft_about{
    float: left;
    width: 40%;
    line-height: 28px;
    padding: 0 20px;
}
.ft_list{
    float: left;
    width: 60%;
    padding: 0 20px;
}
.ft_nav{
    float: left;
    width: 33.33%;

}
.ft_nav li{
    list-style: none;
    margin-bottom: 12px;

}
.ft_nav a{
    text-decoration: none;
    color: #3b3735;
}
.ft_copyrights{
    text-align: center;
    padding-top: 30px;
}
